<h1>Hello World!</h1>
<p>This is my first Rails App</p>
<br><br>


<% for x in @coins['data'] %>
	<% for coin in @my_coins %>
		<% if coin == x[1]['symbol'] %>
			<%= x[1]['name'] %> : <%= x[1]['quotes']['USD']['price'] %><br>
			Rank: <%= x[1]['rank'] %><br><br>
		<% end %>
	<% end %>
<% end %>
